$face: #3b5998;
$inst: #8a3ab9;
$whap: #25d366;

#contenedor-formulario {
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px;
  margin-top: 5%;
}

#titulo-formulario {
  color: #3f3f3f;
}

Footer {
  color: black;
  min-height: 100px;
}
footer p {
  color: black;
  text-align: center;
}
#iconos i {
  font-size: 26px;
  padding: 0 8px;
}

.redes {
  display: inline-block;
}
@mixin redes($hover) {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;

  &:hover {
    color: $hover;
  }
}

.bi-facebook {
  @include redes($face);
}

.bi-whatsapp {
  @include redes($whap);
}

.bi-instagram {
  @include redes($inst);
}
