#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
#menu form > button {
  font-size: 18px;
  font-weight: bold;
}
.carousel-inner {
  max-height: 39rem;
}
#bg-imagen {
  position: relative;
  top: -130px;
}
#seccion-imagen {
  background-color: #193b8bde;
  min-height: 500px;
  position: relative;
}
