@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "monserrat", sans-serif;
  overflow-x: hidden;
  background-color: rgba(92, 92, 165, 0.637);
}

@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
  #bg-imagen {
    top: -110px;
  }
}

@media (max-width: 576px) {
  #intro {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
